@font-face {
  font-family: "heading";
  font-weight: 400;
  font-style: normal;
  src: url(./RobotoSerif-Light.ttf);
}

@font-face {
  font-family: "heading";
  font-weight: 400;
  font-style: italic;
  src: url(./RobotoSerif-LightItalic.ttf);
}

@font-face {
  font-family: "heading";
  font-weight: 800;
  font-style: normal;
  src: url(./RobotoSerif-Bold.ttf);
}

@font-face {
  font-family: "heading";
  font-weight: 800;
  font-style: italic;
  src: url(./RobotoSerif-BoldItalic.ttf);
}
