:root {
  --color-gray-50: #c3c3c3;
  --color-gray-100: #b4b4b4;
  --color-gray-200: #a5a5a5;
  --color-gray-300: #969696;
  --color-gray-400: #868686;
  --color-gray-500: #777777;
  --color-gray-600: #686868;
  --color-gray-700: #585858;
  --color-gray-800: #494949;
  --color-gray-900: #3a3a3a;
  --color-gray-base: #777777;
  --color-black-base: #000000;
  --color-white-base: #ffffff;
  --color-ghost-1: #E5DACF;
  --color-ghost-2: #CCBDAD;
  --color-ghost-3: #B4A08C;
  --color-ghost-4: #8F8172;
  --color-ghost-5: #726355;
  --color-ghost-contrast: #ffffff;
  --color-ghost-base: #F2E6DA;
  --color-success-base: #37de7d;
  --color-success-light: #a6ffcc;
  --color-success-dark: #36b36c;
  --color-success-darker: #1f6630;
  --color-success-darker-foreground: #ffffff;
  --color-success-foreground: #1f6630;
  --color-success-light-foreground: #1F6630;
  --color-success-dark-foreground: #ffffff;
  --color-warning-base: #ffdd33;
  --color-warning-light: #fff0a6;
  --color-warning-dark: #ccb129;
  --color-warning-darker: #806f19;
  --color-warning-darker-foreground: #ffffff;
  --color-warning-foreground: #806f19;
  --color-warning-light-foreground: #806F19;
  --color-warning-dark-foreground: #ffffff;
  --color-error-base: #ff3333;
  --color-error-light: #ffb3b3;
  --color-error-dark: #cc2929;
  --color-error-darker: #661414;
  --color-error-darker-foreground: #ffffff;
  --color-error-foreground: #ffffff;
  --color-error-dark-foreground: #ffffff;
  --color-error-light-foreground: #661414;
  --color-primary-base: #FC576D;
  --color-primary-light: #FFB4BE;
  --color-primary-dark: #ad3d4c;
  --color-primary-darker: #541D25;
  --color-primary-darker-foreground: #ffffff;
  --color-primary-light-foreground: #541D25;
  --color-primary-dark-foreground: #ffffff;
  --color-primary-foreground: #1F252A;
  --color-secondary-darker-foreground: #ffffff;
  --color-secondary-foreground: #ffffff;
  --color-secondary-base: #3D3453;
  --color-secondary-light: #655A80;
  --color-secondary-dark: #2D263D;
  --color-secondary-darker: #130A27;
  --color-secondary-dark-foreground: #ffffff;
  --color-secondary-light-foreground: #ffffff;
  --color-text-base: #1F252A;
  --color-text-link: #FC576D;
  --color-text-link-visited: #ad3d4c;
  --color-text-secondary: #8e8494;
  --font-size-r-xs: 14px;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-display: 4rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-display-sm: 3rem;
  --font-size-display-xl: 5rem;
  --font-size-r-base: 16px;
  --font-size-r-lg: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 800;
  --line-height-r-xs: 16px;
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-base: 1.5rem;
  --line-height-r-base: 18px;
  --line-height-r-lg: 18px;
  --line-height-2xl: 2rem;
  --line-height-3xl: 2.5rem;
  --line-height-4xl: 3rem;
  --line-height-5xl: 4rem;
  --line-height-display-sm: 4rem;
  --line-height-6xl: 5rem;
  --line-height-display: 5rem;
  --line-height-7xl: 6rem;
  --line-height-8xl: 8rem;
  --line-height-xl: 1.5rem;
  --line-height-lg: 1.5rem;
  --line-height-display-xl: 6rem;
}