:root {
  --color-gray-50: #c3c3c3;
  --color-gray-100: #b4b4b4;
  --color-gray-200: #a5a5a5;
  --color-gray-300: #969696;
  --color-gray-400: #868686;
  --color-gray-500: #777777;
  --color-gray-600: #686868;
  --color-gray-700: #585858;
  --color-gray-800: #494949;
  --color-gray-900: #3a3a3a;
  --color-gray-base: #777777;
  --color-black-base: #000000;
  --color-white-base: #ffffff;
  --color-ghost-lightest: #ffffff;
  --color-ghost-base: #F7F0E9;
  --color-ghost-light: #FBF8F4;
  --color-ghost-lighter: #fdfcfa;
  --color-ghost-dark: #ede6df;
  --color-ghost-darker: #e2dbd5;
  --color-ghost-darkest: #ccc6c0;
  --color-success-base: #37de7d;
  --color-success-light: #a6ffcc;
  --color-success-dark: #36b36c;
  --color-success-darker: #1f6630;
  --color-success-above-base: #1f6630;
  --color-success-above-darker: #ffffff;
  --color-warning-base: #ffdd33;
  --color-warning-light: #fff0a6;
  --color-warning-dark: #ccb129;
  --color-warning-darker: #806f19;
  --color-warning-above-base: #806f19;
  --color-warning-above-darker: #ffffff;
  --color-error-base: #ff3333;
  --color-error-light: #ffb3b3;
  --color-error-dark: #cc2929;
  --color-error-darker: #661414;
  --color-error-above-base: #ffffff;
  --color-error-above-darker: #ffffff;
  --color-primary-above-darker: #ffffff;
  --color-primary-base: #FC576D;
  --color-primary-light: #FFB4BE;
  --color-primary-dark: #ad3d4c;
  --color-primary-above-base: #ffffff;
  --color-primary-darker: #541D25;
  --color-secondary-50: #8499B0;
  --color-secondary-base: #546373;
  --color-secondary-dark: #353F49;
  --color-secondary-darker: #1F252A;
  --color-secondary-above-base: #ffffff;
  --color-secondary-above-darker: #ffffff;
  --color-text-base: #1F252A;
  --color-text-secondary: #8499B0;
  --color-text-link: #FC576D;
  --color-text-link-visited: #ad3d4c;
  --font-size-r-xs: 14px;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-display: 4rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-display-sm: 3rem;
  --font-size-display-xl: 5rem;
  --font-size-r-base: 16px;
  --font-size-r-lg: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 800;
  --line-height-r-xs: 16px;
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-base: 1.5rem;
  --line-height-r-base: 18px;
  --line-height-r-lg: 18px;
  --line-height-2xl: 2rem;
  --line-height-3xl: 2.5rem;
  --line-height-4xl: 3rem;
  --line-height-5xl: 4rem;
  --line-height-display-sm: 4rem;
  --line-height-6xl: 5rem;
  --line-height-display: 5rem;
  --line-height-7xl: 6rem;
  --line-height-8xl: 8rem;
  --line-height-xl: 1.5rem;
  --line-height-lg: 1.5rem;
  --line-height-display-xl: 6rem;
}