:root {
  --font-size-r-xs: 14px;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-display: 4rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-display-sm: 3rem;
  --font-size-display-xl: 5rem;
  --font-size-r-base: 16px;
  --font-size-r-lg: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 800;
  --line-height-r-xs: 16px;
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-base: 1.5rem;
  --line-height-r-base: 18px;
  --line-height-r-lg: 18px;
  --line-height-2xl: 2rem;
  --line-height-3xl: 2.5rem;
  --line-height-4xl: 3rem;
  --line-height-5xl: 4rem;
  --line-height-display-sm: 4rem;
  --line-height-6xl: 5rem;
  --line-height-display: 5rem;
  --line-height-7xl: 6rem;
  --line-height-8xl: 8rem;
  --line-height-xl: 1.5rem;
  --line-height-lg: 1.5rem;
  --line-height-display-xl: 6rem;
}